.bg-contact {
  background-color: var(--bg-contact-color);
}

.send-btn {
  background-color: var(--bg-send-color);
  border: none;
  outline: none;
  border-radius: 0;
  color: var(--send-color);
}

.send-btn:hover,
.send-btn:focus {
  background-color: var(--active-color);
  border: none !important;
  outline: none;
  border-radius: 0;
  color: black;
}
