footer {
  height: 100px;
  background-color: var(--bg-color);
  border-top: 1px solid var(--border-color);
}

button .fa {
  font-size: xx-large;
  color: black;
}

@media only screen and (max-width: 440px) {
  .footer-text {
    flex-direction: column;
  }

  button .fa {
    font-size: x-large;
    padding: 3px 1.2px;
  }
}
